name: Run Test Harness

on:
  pull_request:
    branches: [main]

jobs:
  harness-tests:
    name: Harness Tests
    permissions:
      contents: read
    runs-on:
      labels: ubuntu-latest-8-core
    steps:
      - uses: DevCycleHQ/test-harness@main
        with:
          sdks-to-test: java
          sdk-github-sha: ${{github.event.pull_request.head.sha}}
